{% extends "layout.html" %}

{% block title %}
   Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input class="form-control" name="current_password" placeholder="Current Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input class="form-control" name="confirm_password" placeholder="Confirm Password" type="password">
        </div>
        <div>
        <button class="btn btn-primary" type="submit">Change</button>
        </div>
    </form>
    <p>Passwords must be at least 8 characters and must include at least:<br> 1 special character: @_!#$%^& <br> 1 number <br> 1 uppercase letter</p>
{% endblock %}